@if (paginator.totalPages > 1) {
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a href="" class="page-link" [routerLink]="[url, 0]">
                <i class="fas fa-angle-double-left"></i> <!-- Icono de "Primera página" -->
            </a>
        </li>
        @if (paginator.number > 0) {
            <li class="page-item">
                <a href="" class="page-link" [routerLink]="[url, paginator.number - 1]" >
                    <i class="fas fa-chevron-left"></i> <!-- Icono de "Página anterior" -->
                </a>
            </li>
        }
        @if (paginator.number < paginator.totalPages - 1) {
            <li class="page-item">
                <a href="" class="page-link" [routerLink]="[url, paginator.number + 1]">
                    <i class="fas fa-chevron-right"></i> <!-- Icono de "Página siguiente" -->
                </a>
            </li>
        }
        <li class="page-item">
            <a href="" class="page-link" [routerLink]="[url, paginator.totalPages - 1]">
                <i class="fas fa-angle-double-right"></i> <!-- Icono de "Última página" -->
            </a>
        </li>
    </ul>
}
